<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f67fb5de87.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="./static/images/logo.png" class="logo">
                <ul id="sidemenu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p><span><i>PY/Django</i></span> <b>Designer</b></p>
                <h1>Hi, I'm <span><span id="element1"></span></span> & I'm Passionate <br> <span
                        class="transition"><span id="element"></span>
                    </span>
                </h1>
            </div>
        </div>
    </div>

    <!-- ABOUT SECTION  -->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="./static/images/png img.jpg" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About Me</h1>
                    <p>Hi, I’m KASHAN, a Python developer with three years of experience in web development and data
                        analysis. I specialize in building web applications with Django. Recently, I’m passionate about
                        creating scalable solutions and am always excited to discuss new Python projects!</p>

                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" onclick="opentab('experience')">Experience</p>
                        <p class="tab-links" onclick="opentab('education')">Education</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span> Proficiency in Core Python</span> <br>Strong understanding of Python syntax, data
                                structures </li>
                            <li><span>Web Development or Frameworks Knowledge</span> <br>Familiarity with frameworks
                                like Django or Flask for building web applications, handling APIs</li>
                            <li><span>Error Handling</span> <br> Ability to troubleshoot code, optimize performance, and
                                think critically to solve complex programming</li>

                        </ul>



                    </div>
                    <div class="tab-contents " id="experience">
                        <ul>
                            <li><span>2024-2025</span> <br>Worked as a Python Developer at Azad Chaiwala Institute</li>
                            <li><span>Web Development: </span> <br>Basics of using frameworks like Flask or Django, even
                                if just a few small projects</li>
                            <li><span>Data Manipulation</span> <br>: Basic familiarity with libraries like Pandas and
                                NumPy if applying for data-related roles</li>

                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>Inter(FSC)</span> <br>Good percentage in Fsc(pre Engeenring)</li>
                            <li><span>inter(Pre Engeenring)</span> <br>Did Pre Engeenring At Sir Syed Model College</li>
                            <li><span>Certificate</span> <br>Certified Python Developer By Azad Chaiwala Institute</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICES  -->
    <div id="services">
        <div class="container">
            <h1 class="sub-title">My Services</h1>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Designer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, debitis similique provident
                        vero perferendis aliquam? Fugiat sapiente eius eaque at.</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <i class="fa-solid fa-crop"></i>
                    <h2>UI/UX Designer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, debitis similique provident
                        vero perferendis aliquam? Fugiat sapiente eius eaque at.</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <i class="fa-brands fa-app-store-ios"></i>
                    <h2>Web Developer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, debitis similique provident
                        vero perferendis aliquam? Fugiat sapiente eius eaque at.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="services-list">
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h2>Web Designer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, debitis similique provident
                        vero perferendis aliquam? Fugiat sapiente eius eaque at.</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <i class="fa-solid fa-crop"></i>
                    <h2>UI/UX Designer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, debitis similique provident
                        vero perferendis aliquam? Fugiat sapiente eius eaque at.</p>
                    <a href="#">Learn More</a>
                </div>
                <div>
                    <i class="fa-brands fa-app-store-ios"></i>
                    <h2>Web Developer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, debitis similique provident
                        vero perferendis aliquam? Fugiat sapiente eius eaque at.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- PORTFOLIO  -->
    <div id="portfolio">
        <div class="container">
            <h1 class="sub-title">My Work</h1>
            <div class="work-list">
                <div class="work">
                    <img src="./static/images/calculator img.jpg" alt="">
                    <div class="layer">
                        <h3>Calculator App</h3>
                        <p>A Working Calculator Using HTML , CSS and JavaScript.</p>
                        <a href="./static/Calculator/Calculator.html"><i class="fa-solid fa-link"></i></a>
                    </div>

                </div>
                <div class="work">
                    <img src="./static/images/weather image.jpg" alt="">
                    <div class="layer">
                        <h3>Weather App</h3>
                        <p>Fully Working Weather App Using HTML , CSS & JavaScript</p>
                        <a href="./static/Weather App/index.html"><i class="fa-solid fa-link"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="./static/images/quizzapp image.avif" alt="">
                    <div class="layer">
                        <h3>Quizz App</h3>
                        <p>Complete Working Quiz App Using HTML , CSS & JavaScript </p>
                        <a href="./static/Quizz App/index.html"><i class="fa-solid fa-link"></i></a>
                    </div>
                </div>
            </div>
            <a href="https://github.com/kashanPyDev" class="btn">See More</a>
        </div>
    </div>
    <!-- -----------Contact--------------- -->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fa-solid fa-paper-plane"></i>kashanshafique784@gmail.com</p>
                    <p><i class="fa-solid fa-square-phone"></i>+923301580129</p>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100082145231806"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://linkedin.com/in/kashan-shafique"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                    <a href="./CV.pdf" download="" class="btn btn2">Download CV</a>
                </div>
                <div class="contact-right">
                    <form method='post' action='{% url "saveFormData" %}' name="submit-to-google-sheet" action="">
                        {% csrf_token %}
                        <input type="text" name="Name" placeholder="Your name" required>
                        <input type="email" name="Email" placeholder="Your E-mail" required>
                        <textarea name="Message" rows="6" placeholder="Your message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 made With <i class="fa-solid fa-heart"></i> by KASHAN. All rights reserved. </p>
        </div>
    </div>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['django Expert', 'Python developer'],
            typeSpeed: 70,
        });
    </script>
    <script>
        var typed = new Typed('#element1', {
            strings: ['KASHAN'],
            typeSpeed: 150,
        });
    </script>
    <script src="/static/script.js"></script>
</body>

</html>